@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

[ikrioma-helpers] {
  grid-area: helpers;

  line-height: 2;

  user-select: text;
  //pointer-events: none;

  transition: {
    property: opacity;
    timing-function: ease-in-out;
    duration: 400ms;
  }
}

[ikrioma-helpers] .fragment {
  display: block;
}

[ikrioma-helper-data] {
  min-width: 30em; //480 px
  padding: 2em;
}


[ikrioma-helper-data]:not(:last-of-type) {
  border-right: 1px solid $color-background;
}
