@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

[ikrioma-helpers] {
  grid-area: helpers;

  line-height: 2;

  user-select: text;
  //pointer-events: none;

  transition: {
    property: opacity;
    timing-function: ease-in-out;
    duration: 400ms;
  }
}

[ikrioma-helpers] .fragment {
  display: block;
}

[ikrioma-helper-data] {
  min-width: 30em; //480 px
  padding: 2em;

  animation: fadeIn 500ms forwards ease-in-out;
}

[ikrioma-canvas] {
  opacity: 0;
  animation: fadeIn 500ms forwards ease-in-out 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px) }
  100% { opacity: 1; transform: none; }
}


[ikrioma-helper-data]:not(:last-of-type) {
  border-right: 1px solid $color-background;
}
