@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
[ikrioma-helpers] {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 2em;

  color: white;

  line-height: 1.5;

  user-select: none;
  pointer-events: none;

  transition: {
    property: opacity;
    timing-function: ease-in-out;
    duration: 400ms;
  }

  //&:not(.active) {
  //  opacity: 0;
  //}
}

[ikrioma-helpers] .fragment {
  display: block;
}


[ikrioma-scene-data]:not(:last-of-type) {
  margin-bottom: 1em;
}
